# Dependencies
node_modules/
.pnpm-store/

# Windows artifacts
*:Zone.Identifier

# Build outputs
.next/
dist/
out/
build/
.turbo/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Misc
coverage/
*.tsbuildinfo
.github/workflows/
